*, *::before, *::after {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

main {
  min-height: 542px !important;
}

/* Background Images Main Page */

#backgroundPic {
  max-width: 100%;
  height: auto;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

/* Header Section */

header {
  min-height: 40px !important;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

.firstheader {
  margin-bottom: 30px !important;
}

main h1 {
  font-size: 90px !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

main .hook_text {
  font-size: 25px !important;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: black;
}

.login {
  font-size: 20px !important;
  align-self: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  outline: none !important;
}

.login:hover {
  color: rgb(10, 197, 10) !important;
}

.about {
font-size: 20px !important;
align-self: center;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0);
outline: none !important;
}

.about:hover {
  color: rgb(10, 197, 10) !important;
}

.home {
  font-size: 20px !important;
  align-self: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  outline: none !important;
  }
  
  .home:hover {
    color: rgb(10, 197, 10) !important;
  }

/* Main Section */

  /* Dropdown */

.dropdown button {
  width: 15% !important;
  min-width: 225px !important;
}

.dropdown-menu {
  width: 15% !important;
  min-width: 225px !important;
  max-height: 200px !important;
  overflow: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dropdown-item {
  min-width: 15% !important;
  background: rgb(0, 0, 0) !important;
}

.hidden {
  display: none !important;
}

.dropdown-item:hover {
  background: green !important;
}

.dropdownMargin1 {
  margin-bottom: 50px !important;
  transition: margin-bottom 0.5s ease-in-out;
}

.dropdownMargin2 {
  margin-bottom: 240px !important;
  transition: margin-bottom 0.5s ease-in-out;
}

  /* Carousel */

.plants_carousel button.slick-next.slick-arrow {
  content: url('images/leaf.svg') !important;
  display: flex !important;
  transform: rotateY(180deg) rotateX(180deg);
  width: 50px !important;
  height: 50px !important;
  right: -50px;
}

.plants_carousel button.slick-prev.slick-arrow {
  content: url('images/leaf.svg') !important;
  display: flex !important;
  transform: rotateX(180deg);
  width: 50px !important;
  height: 50px !important;
  left: -50px;
}

.stateName {
  font-size: 35px !important;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: black;
  opacity: 100% !important;
}

.bullet {
  font-size: 20px;
}

/* Footer Section */

footer {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

footer h1 {
  font-size: 22px !important;
}

.established {
  font-size: 12px;
}

/* Cards */

.card {
  width: 200px !important;
  height: 430px !important;
}

.card-img-top {
  width: 200px !important;
  height: 200px !important;
}

.cardColor {
  width: inherit;
  height: 230px;
  background: black;
  overflow: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-link {
  color: rgb(10, 197, 10) !important;
  background-color: black;
  transition: color 1s, background-color 1s;
  text-decoration: none; 
}

.card-link:hover {
  color: white !important;
  background-color: rgb(10, 197, 10) !important;
}

/* Form */

.modal-header h1 {
  margin-left: 88px !important;
}

.modal-content {
  background: rgba(0, 0, 0, 0.8) !important;
}

.modal-footer {
  margin-right: auto !important;
  margin-left: auto !important;
}

.modal-footer a:hover {
  color: rgb(10, 197, 10) !important;
  text-decoration: none; 
}

@media screen and (max-width: 576px) {

  .plants_carousel button.slick-next.slick-arrow {
    right: 0px;
    z-index: 2;
  }
  
  .plants_carousel button.slick-prev.slick-arrow {
    left: 0px;
    z-index: 2;
  }

  .ddSmall {
    margin-bottom: 100px !important;
  }
}

/* second.html */

#secondBackground {
  max-width: 100%;
  height: auto;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#pageBackground {
  min-height: 80vh !important;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  overflow: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.secondMain {
  width: 80%;
}

.secondPageImg {
  width: 300px !important;
  height: 300px !important;
}

/* Login Form */

.login-form {
  margin-top: 50px;
}

.login-form input {
  margin-bottom: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.greeting {
  color: white !important;
}

.logout {
  font-size: 20px !important;
  align-self: left;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  outline: none !important;
  visibility: Vis;
}

.btn {
  background-color: green !important;
}

.loginButton:hover {
  opacity: 75% !important;
}

#username {
  color: white;
  background-color: black;
}

#password {
  color: white;
  background-color: black;
}

#displayCookieBtn {
  opacity: 0;
}

#loginModal {
  margin-left: 0px !important;
  font-size: 30px;
}

input::placeholder {
  color: white !important;
  opacity: 80% !important;
}

.login-modal-content {
  background: black !important;
}